@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

body {
  margin: 0;
  font-family: "Poppins";
  background: #f7f7f7;
}


.masonry {
  max-width: 1200px;
  margin: 60px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 250px;
  gap: 30px;
}
.masonry div {
  overflow: hidden;
  background: #fff;
  border-radius: 6px;
  border: 16px solid #fff;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.05);
}
.masonry img {
  min-width: 100%;
  height: 100%;
}
.masonry .short {
  grid-row: span 1;
}
.masonry .tall {
  grid-row: span 2;
}
  @media screen and (max-width: 1340px) {
      .masonry {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
  @media screen and (max-width: 1060px) {
    .masonry {
      grid-template-columns: 1fr 1fr 1fr ;
    }
  }
  @media screen and (max-width: 860px) {
    .masonry {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media screen and (max-width: 540px) {
    .masonry {
      grid-template-columns: 1fr;
    }
  }
