

 <!-- ======= Breadcrumbs ======= -->
 <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Reservacion de casa</h2>
        
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Portfolio Details Section ======= -->
  <section id="portfolio-details" class="portfolio-details">
    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">

              <div class="swiper-slide">
                <img src="assets\img\casa5.jpg">
              </div>


            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="portfolio-info">
            <p>Buscar si tu fecha esta disponible</p>
            <input type="text" class="form-control" placeholder="aaaa/mm/dd" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="fechaObtenida">
            <a class="btn btn-primary"  role="button" (click)="comprobarFecha()">Consultar</a>
            {{auxF}}
            <div class="card">
              <p-messages [(value)]="messages2" [enableService]="false" [closable]="false"></p-messages>
            </div>

            <p>Fecha tecleada: {{fechaObtenida}}</p>
            <h3>Apartar Fecha</h3>
            <ul>
              <li><strong>Categoria</strong>: Casa</li>
              <li><strong>Cuartos</strong>: 5</li>
              <li><strong>Aire acondicionado</strong>: si</li>
            </ul>
            <p-calendar [(ngModel)]="date" [showIcon]="true" [minDate]="minimumDate" [disabledDates]="fechaArray" dateFormat="dd/mm/yy"></p-calendar>
            <p>la hora que seleccionaste {{date}}</p>
            <p-dropdown [options]="hora" [(ngModel)]="horaSeleccionada"></p-dropdown>
            <p>la hora que seleccionaste {{horaSeleccionada}}</p>
            <a class="btn btn-primary"  role="button" (click)="agregarDatosReservacion()" (click)="addMessages()">Reservar</a>
            <div class="card">
              <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
            </div>
          </div>
          <div class="portfolio-description">
            <p-card header="Tu experiencia nos ayuda a mejorar">
                    <p-rating [(ngModel)]="calificacion" [cancel]="false" (click)="addMessages2()"></p-rating>
            </p-card>
            <div class="card">
              <p-messages [(value)]="messages3" [enableService]="false" [closable]="false"></p-messages>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Portfolio Details Section -->

