<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="assets\img\logo.jpeg" width="80" height="80" alt="">
    </a>
    <p class="navbar-brand" >Hospefy</p>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <ul class="navbar-nav">
        
        <li class="nav-item">
          <a class="nav-link" href="/quienes">Quienes somos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/casas">Proximas casas en renta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cita">Rentar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tabla">Registro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/formulario">Contactanos</a>
        </li>
      </ul>
  </nav>